// @import '~bootstrap/scss/bootstrap';
/* Regole generali */
:root {
    --dark-grey: #303030;
    --grey: #464646;
    --light-grey: #959595;
    --black: #1C1C1C;
    --blue: #0282F9;
}
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style-type: none;
}

/* Container */
.container {
    max-width: 1300px;
    margin: 0px auto;
}

/* Header */
.main-header {
    background-color: white;
    padding: 20px 0px;
    /* Navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* Immagine usata come logo */
    .navbar__logo--img {
        width: 80px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    /* Lista della Navbar */
    .navbar__list {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    /* Elementi della lista della Navbar */
    .navbar__list-item {
        text-transform: uppercase;
        color: var(--grey);
        font-size: 14px;
        padding: 40px 0px;
    }
    /* Elemento della lista della Navbar attivo */
    .navbar__list-item.active {
        color: var(--blue);
        position: relative;
    }
    /* Barra dell'elemento della lista della Navbar attivo */
    .navbar__list-item.active::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: var(--blue);
        position: absolute;
        left: 0px;
        bottom: -20px;
    }
}

/* Main */
.main-content {
    /* Contenuto */
    .content {
        background-color: var(--black);
        color: white;
        /* Carta */
        .card {
            width: 185px;
        }
        /* Immagine della carta */
        .card__img {
            margin-bottom: 15px;
        }
        /* Immagine usata della carta */
        .card__img--img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: top;
        }
        /* Titolo usato della carta */
        .card__title--title {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 14px;
            color: white;
        }
     }
    /* Jumbotron */
    .jumbotron {
        height: 400px;
        width: 100%;
    }
    /* Immagine del Jumbotron */
    .jumbotron__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    /* Titolo di Current Series */
    .current-series__title {
        font-size: 20px;
        text-transform: uppercase;
        background-color: var(--blue);
        max-width: fit-content;
        padding: 15px 10px;
        position: relative;
        top: -25px;
        z-index: 1;
    }
    /* Lista delle serie */
    .current-series__list {
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px 25px;
    }
    /* Bottone */
    .current-series__button {
        display: flex;
        justify-content: center;
    }
    /* Bottone effettivo */
    .current-series__button--btn {
        text-transform: uppercase;
        background-color: var(--blue);
        border: none;
        color: white;
        font-size: 14px;
        padding: 15px 60px;
        margin-bottom: 20px;
    }
    /* Discover */
    .discover {
        background-color: var(--blue);
        padding: 45px 0px;
        position: relative;
        z-index: 1;
    }
    /* Lista di Discover */
    .discover__list {
        display: flex;
        justify-content: space-around;
        gap: 50px;
    }
    /* Elemento della lista di Discover */
    .discover__list-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    /* Immagine dell'elemento della lista di Discover */
    .discover__list-item--img__img {
        width: 50px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    /* Descrizione dell'elemento della lista di Discover */
    .discover__list-item--description {
        text-transform: uppercase;
        color: white;
    }
    /* Cima di single */
    .single-top {
        background-color: var(--blue);
        height: 80px;
        /* Immagine della cima di single */
        .single-top__img {
            position: relative;
            /* Immagine utlizzata della cima di single */
            .single-top__img--img {
                width: 190px;
                height: 280px;
                position: absolute;
                left: 0px;
                top: -220px;
            }
        }
    }
    /* Centro di single */
    .single-center {
        padding-top: 80px;
        padding-bottom: 70px;
        /* Info del fumetto */
        .comic-info {
            display: flex;
            gap: 40px;
            /* Titolo */
            .comic-info__title {
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            /* Stock */
            .comic-info__stock {
                background-color: #55BA59;
                color: #BAFD9C;
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                /* Prezzo */
                .comic-info__price {
                    padding: 15px 25px;
                    font-size: 16px;
                    flex-grow: 1;
                    /* Prezzo */
                    .price {
                        color: white;
                    }
                }
                /* Disponibilità */
                .comic-info__availability {
                    font-size: 16px;
                    text-transform: uppercase;
                    border-right: 1px solid black;
                    padding: 15px 25px;
                }
                /* Controllo della disponibilità */
                .comic-info__check-availability {
                    font-size: 16px;
                    color: white;
                    padding: 15px 25px;
                }
            }
            /* Titolo della pubblicità */
            .adv__title {
                font-size: 16px;
                text-align: right;
                color: var(--grey);
                text-transform: uppercase;
            }
            /* Immagine pubblicità */
            .adv__img {
                width: 300px;
            }
        }
    }
}

/* Footer */
.page-footer {
    background-image: url("../img/footer-bg.jpg");
    /* Footer Top */
    .footer-top {
        display: flex;
        justify-content: space-between;
    }
    /* Informazioni */
    .infos {
        padding: 35px 0px;
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* Titolo del box informazioni */
    .box-info__title {
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    /* Elemento della lista del box informazioni */
    .box-info__list-item {
        color: var(--light-grey);
        font-size: 14px;
        margin-bottom: 5px;
    }
    /* Logo grande */
    .big-logo {
        position: relative;
    }
    /* Immagine del logo grande */
    .big-logo__img {
        width: 550px;
        aspect-ratio: 1/1;
        position: absolute;
        right: 0px;
        top: -50px;
    }
    /* Footer Bottom */
    .footer-bottom {
        background-color: var(--dark-grey);
        padding: 30px 0px;
        position: relative;
        z-index: 1;
    }
    /* Sottoiscrizione */
    .subscription {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* Bottone */
    .sign-up {
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid var(--blue);
        padding: 15px 10px;
    }
    /* Seguici */
    .follow-us {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    /* Titolo di Seguici */
    .follow-us__title {
        color: var(--blue);
        font-size: 18px;
        text-transform: uppercase;
    }
    /* Lista dei social */
    .follow-us__list {
        display: flex;
        gap: 15px;
    }
    /* Immagine dell'elemento della lista dei social */
    .follow-us__list-item--img {
        width: 35px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
}